
$mobile_size: '400px';
.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}
.aviso{
    min-height: 100vh;
    img{
        padding-bottom: 1.25rem;
    }
}
footer{
    position: fixed;
    display:block;
    width: 100%;
    bottom:0;
    @media (min-width: $mobile_size) {
        position: relative;
    }
    &.force{
        position: relative;
    }
}

main{
    min-height: 93vh;
}
.mobile{
    display: grid;
    place-items: center;
    @media (min-width: $mobile_size) {
        display: none;
    }
}
.desktop{
    display: none;
    @media (min-width: $mobile_size) {
        display: block;
    }
}
h2{
    color: #333;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    // font-weight: 800;
    border-left: 5px solid #0984e3;
}
h3{
    font-size: 1.1rem;
    color: #0984e3;
}
embed, video{
    max-width: 100%;
}
embed{
    @media (max-width: $mobile_size) {
        max-height: 200px;
    }
}
